*{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

header{
    /* display: block; */
    height: 66px;
    line-height: 66px;
    background-color: rgba(64, 64,64,0.5);
    width:100%;
    position:sticky;
    top: 0%;
    z-index:100;
}

header img{
    /* display:inline-block; */
    vertical-align: middle;
    position:relative;
    left:25%;
    line-height: 66px;
    filter: opacity(0.8) drop-shadow(0 0 0 red);
}

header span{
    display: none;
}

body{
    margin:0;
}


.ir_pm{display:block; overflow: hidden; font-size: 0; line-height: 0;
text-indent: -9999px; }

#first{
    position:relative;
    height: 750px;
    background-color: #fff;
    background-image: url("../image/section_invite.jpg");
    background-repeat:no-repeat;
    background-position: center;
    top:-66px;
}

#second{
    height: 822px;
    background-color: #f9939d;
    position:relative;
    top:-66px;
    background-image: url("../image/section_creator.jpg");
    background-repeat:no-repeat;
    background-position: center;

}

#third{
    height: 1080px;
    background-color: #d5e43f;
    position:relative;
    top:-66px;
    background-image: url("../image/section_store.jpg");
    background-repeat:no-repeat;
    background-position: center;

}

.page > .foods{
    width:980px;
    height: 600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -490px;
    margin-top:-250px;
     
}

.page >.foods > .foodpick >:nth-child(n+2){
padding-left: 20px;
     
}

.letters{
    height: 140px;;
}
.letters>:nth-child(n){
    display:inline-block;
    width:230px;
    text-align: center;
    font-size: 20px;
    color:#1b1d21;
}

.letters>:nth-child(n+2){
    padding-left: 20px;
}

.letters>:nth-child(4n+1){
    padding-left: 0px;
}

.letters>:nth-child(n+5){
    font-size:28px;
    font-weight:bold;
}

.letters>:nth-child(n+5)>span{
    font-size:20px;
    font-weight: initial;

}