*{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

header{
    /* display: block; */
    height: 66px;
    line-height: 66px;
    background-color: rgba(64, 64,64,0.5);
    width:100%;
    position:sticky;
    top: 0%;
    z-index:100;
}

header img{
    /* display:inline-block; */
    vertical-align: middle;
    position:relative;
    left:25%;
    line-height: 66px;
    filter: opacity(0.8) drop-shadow(0 0 0 red);
}

header span{
    display: none;
}

body{
    margin:0;
}

.page img{
    display:block;
    position:relative;
    
    margin: 0px auto;
}

.ir_pm{display:block; overflow: hidden; font-size: 0; line-height: 0;
text-indent: -9999px; }

#first{
    position:relative;
    height: 750px;
    background-color: #fff;
    background-image: url("../image/section_invite.jpg");
    background-repeat:no-repeat;
    background-position: center;
    top:-66px;
}

#second{
    height: 822px;
    background-color: #f9939d;
    position:relative;
    top:-66px;
    background-image: url("../image/section_creator.jpg");
    background-repeat:no-repeat;
    background-position: center;

}
