*{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

header{
    /* display: block; */
    height: 66px;
    line-height: 66px;
    background-color: rgba(64, 64,64,0.5);
    width:100%;
    position:sticky;
    top: 0%;
    z-index:100;
}

header img{
    /* display:inline-block; */
    vertical-align: middle;
    position:relative;
    left:25%;
    line-height: 66px;
    filter: opacity(0.8) drop-shadow(0 0 0 red);
}

header span{
    display: none;
}

.page img{
    display:block;
    width:100%;
    position:relative;
    top:-66px;
}
