
html{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
header{
    background-color:#000;
    display:block;
    position:relative;
}

body{
    margin:0;
}



h1{

    font-size: 40px;
    color: #fff;
    padding: 40px;
    display: block;
    background-color:pink; 
    margin: 0 auto 0 auto;
    width:1000px;
    height: 40px;
    padding:40px;
}

.elements{
    margin: 0 auto 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    width:1080px;
    font-size:16px;
    color:#000;
}