
html{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
header{
    background-color:#000;
    display:block;
    /* position:relative; */
}

body{
    margin:0;
}

/* main{
    background-color: yellow;
} */

h1.startpoint{
    font-size: 40px;
    color: #fff;
    padding: 40px;
    display: block;
    background-color:pink; 
    /* margin: 0 auto 0 auto; */
    width:1000px;
    height: 40px;
}

#elements{
    /* margin: 0 auto 0 auto;
    padding:0 40px 0 40px; */
    width:1000px;
    font-size:16px;
    color:#000;
    /* position:relative; */
    margin-top:40px;
}

#elements span{
    display: inline-block;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    text-align: center;
    /* vertical-align: middle; */
    width:324px;
    height: 33px;
    line-height: 33px;
}

/* #elements :nth-child(1){
    margin-left:40px;
} */

#elements span:hover{
    border:1px solid #454545;
    font-weight: bold;
}
.startpoint{
    margin: 0 auto 0 auto;
    padding:0 80px 0 80px;
    width:1000px;
}

.startpoint_2{
    margin: 0 auto 0 auto;
    width:1000px;
    padding: 40px 0 40px 0;
}

.startpoint_3{
    margin: 30px auto 30px auto;
    width:1000px;
    /* padding: 30px 0 30px 0; */
}

h2{
    /* position:relative; */
    margin-top:40px;
    color:#000;
    font-size:20px;
    font-weight:bold;
    border-bottom: 1px solid #454545;
}

article .startpoint_3 :nth-child(1){
    /* position: relative; */
    /* top:30px; */
    margin: 30px 0 0 0;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color:#333;
    font-weight:bold;
    border: 1px solid #d1d1d1;
    background-color: #f7f7f7;
    padding-left:15px;
}

article .startpoint_3 :nth-child(2){
    box-sizing: border-box;
    width:1000px;
    padding:30px;
    font-size: 12px;
    border: 1px solid #d1d1d1;
    border-top: none;
}

footer{
    margin-top:40px;
    border-top: 1px solid #d1d1d1;
    text-align: center;
    padding:30px;
}

footer :nth-child(1){
    font-size: 12px;
    color:#999;
    padding-bottom: 10px;
}

footer :nth-child(2){
    font-size: 12px;
    color:#000;
}
