.h1_parent{
    background-color:#000;
    display:block;
    position:relative;
}

body{
    margin:0;
}
h1{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
    font-size: 40px;
    color: #fff;
    padding: 40px;
    display: block;
    background-color:pink; 
    margin: 0 auto 0 auto;
    width:1000px;
    height: 40px;
}